@import url(https://fonts.cdnfonts.com/css/nunito-sans);

body {
  font-family: 'Nunito Sans', sans-serif;
  background: #29335C;
  background-size: cover;
}

.game {
  background-color: transparent;
  width: 420px;
  height: 420px;
  margin: 100px auto;
}

.game-field {
    width: 130px;
    height: 130px;
    display: block;
    float: left;
    font-size: 6.5em;
    padding: 10px 30px;
}

#square-1, #square-2, #square-3 {
  border-bottom: 3px solid #525B76;
}

#square-2 {
  border-left: 3px solid #525B76;
  border-right: 3px solid #525B76;
}

#square-4, #square-5, #square-6 {
  border-bottom: 3px solid #525B76;
}

#square-5 {
  border-left: 3px solid #525B76;
  border-right: 3px solid #525B76;
}

#square-8 {
  border-left: 3px solid #525B76;
  border-right: 3px solid #525B76;
}

.endgameheader {
  text-align: center
}

.fa-times {
  vertical-align: middle;
}

.fa-regular.fa-circle {
  font-size: 70px;
  line-height: 150%;
}
